@import "../../../styles/variables.scss";

.dashboard-main{
    display: flex;
    flex-direction: column;
    height: 100%;

    .dashboard-content{
        display: flex;
        height: 100%;

        
        .side-nav{
            width: 200px;
            height: 100%;

            span{
                height: 10px;
            }
        
            .dropdown-content {
                margin-bottom: 10px;
                padding: 10px;
                background: #f4f4f4;
                border: 1px solid #ccc;
                border-radius: 5px;
                p{
                    padding-top: 5px;
                    color: $text-color;
                    cursor: pointer;
                }
        
                p & :hover{
                    background-color: yellow;
                }
            }
        }
    }
}