.dashboard-main{
    display: flex;
    flex-direction: column;
    height: 100%;

    .dashboard-content{
        display: flex;
        height: 100%;

        
        .side-nav{
            width: 200px;
            height: 100%;
        }
    }
}