.dashboard-main{
    display: flex;
    flex-direction: column;

    .dashboard-content{
        display: flex;

        
        .side-nav{
            width: 200px;
            height: 100%;            
        }
    }
}